h1, h3, h6 {
   color: (#c91616)
}
.large-text {
    font-size: 4em;
}

.first-half {
    font-family: fantasy
}
.second-half {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
<-- just imagine infinite possibilities manifesting themselves here -->
